---
import "../styles/global.css";

interface Props {
  pageName?: string;
  title: string;
  description: string;
  keywords: string;
}
const { pageName, title, description, keywords } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/decostore-favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />

    {
      pageName === "home" && (
        <link
          rel="preload"
          href="/fuentes/Sigmar-Regular.woff2"
          as="font"
          type="font/woff2"
          crossorigin="anonymous"
        />
      )
    }

    <title>
      {title}
    </title>
  </head>
  <body>
    <slot />
  </body>
</html>
