---
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  keywords: string;
}
const { title, description, keywords } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/decostore-favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <!-- <link rel="preload" as="image" href="/hero.webp" /> -->
    <title>
      {title}
    </title>
  </head>
  <body>
    <slot />
  </body>
</html>
